<div class="backgroundImageContainer">
    <div class="BIC">
        <picture>
            <source media="(max-width: 739px)" srcset="600png.png" class="backgroundImage" [style.display]="'none'">
            <source media="(max-width: 1150px)" srcset="1150png.png" class="backgroundImage" [style.display]="'none'">
            <img src="textianipng.png" alt="" class="backgroundImage">
        </picture>
        
        <!-- <span class="txt1">Wok&Roll</span> -->
    </div>
</div>

<section class="categorys">
    <section class="filterBy">
        <h2 class="filterBy-title">Filter by</h2>
        <div class="filter-option">
            <button class="filter-header" (click)="sidePanel(0)">
                <h3>Category</h3>
                @if (!sideButtons[0].boolean) {
                    <span class="filter-icon">+</span>
                }@else {
                    <span class="filter-icon1">—</span>
                }
            </button>
            <div id="siderbar-menus1" [classList]="sideButtons[0].boolean ? 'show': ''">
                <div class="siderbar-menu-options">
                    <input type="radio" id="allButton" name="box2" [(ngModel)]="isChecked" value="checked" (click)="getAllProducts()">
                    <label for="allButton">All</label>
                    @for (item of allCategorys; track $index) {
                        <div class="siderbar-menu-options">
                            <input type="radio" [id]="item.name" name="box2" (click)="getProductByCategory(item.id)">
                            <label [for]="item.name">{{item.name}}</label>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="filter-option">
            <button class="filter-header" (click)="sidePanel(1)">
                <h3>Filter by Spiciness</h3>
                @if (!sideButtons[0].boolean) {
                    <span class="filter-icon">+</span>
                }@else {
                    <span class="filter-icon1">—</span>
                }
            </button>
            <div id="siderbar-menus2" [classList]="sideButtons[1].boolean ? 'show': ''">
                <div class="siderbar-menu-options">
                    <div class="filter-card">
                        <p>Filter By Spiciness</p>
                        <div class="choose-spicness">
                            <label for="spicness">Spiciness: <span></span>{{choosenSpicness == -1 ? "Not chosen" : choosenSpicness}}</label>
                            <input id="spicness" type="range" min="-1" max="4" step="1" [(ngModel)]="choosenSpicness">
                        </div>
                        <div [style.visibility]="choosenSpicness == -1 ? 'hidden' : 'visible'" class="checkbox-option">
                            <input [(ngModel)]="noNuts" id="nuts" type="checkbox">
                            <label for="nuts">With nuts</label>
                        </div>
                         <div [style.visibility]="choosenSpicness == -1 ? 'hidden' : 'visible'" class="checkbox-option">
                            <input [(ngModel)]="vegOnly"   id="Vegetarian" type="checkbox">
                            <label for="Vegetarian">Vegetarian only</label>
                        </div>
                        <div class="action-buttons">
                            <button (click)="applyFilterReset()">Reset</button>
                            <button (click)="applyFilter()">Apply Filter</button>
                        </div>
                        <h3 [style.display]="choosenSpicness == -1 ? 'block' : 'none'">GET ALL</h3>
                        <img src="wokIcon.png" alt="filter-image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h3>Categories</h3>
    <article>
        <div class="categories-list">
          <input type="radio" id="radio-0" style="display: none;" name="tabs" [(ngModel)]="isChecked" value="checked" (click)="getAllProducts()">
          <label class="tab" for="radio-0">ALL</label>
          @for (category of allCategorys; track $index) {
            <input type="radio" [id]="'radio-' + category.id" name="tabs" style="display: none;" (click)="getProductByCategory(category.id)">
            <label class="tab" [for]="'radio-' + category.id">{{category.name}}</label>
          }
          <span class="glider"></span>
        </div>
    </article>
    <section class="filter-products"> 
        <div class="filter-card">
            <p>Filter By Spiciness</p>
            <div class="choose-spicness">
                <label for="spicness">Spiciness: <span></span>{{choosenSpicness == -1 ? "Not chosen" : choosenSpicness}}</label>
                <input id="spicness" type="range" min="-1" max="4" step="1" [(ngModel)]="choosenSpicness">
            </div>
            <div [style.visibility]="choosenSpicness == -1 ? 'hidden' : 'visible'" class="checkbox-option">
                <input [(ngModel)]="noNuts" id="nuts" type="checkbox">
                <label for="nuts">With nuts</label>
            </div>
             <div [style.visibility]="choosenSpicness == -1 ? 'hidden' : 'visible'" class="checkbox-option">
                <input [(ngModel)]="vegOnly"   id="Vegetarian" type="checkbox">
                <label for="Vegetarian">Vegetarian only</label>
            </div>
            <div class="action-buttons">
                <button (click)="applyFilterReset()">Reset</button>
                <button (click)="applyFilter()">Apply Filter</button>
            </div>
            <h3 [style.display]="choosenSpicness == -1 ? 'block' : 'none'">GET ALL</h3>
            <img src="wokIcon.png" alt="filter-image">
        </div>
        <div class="products">
            @for (food of allProducts; track $index) {
                <div class="card">
                    <div class="img-area" (click)="goToDetails(food)">
                        <span>{{food.price}}$</span>
                        <img [src]="food.image" alt="dishes">
                        <p [style.backgroundColor]="food.spiciness == 0 ? 'green' : food.spiciness == 1 ? 'darkgreen' : food.spiciness == 2 ? 'rgba(255, 255, 0, 0.76)' : food.spiciness == 3 ? 'red' : 'rgba(160, 0, 0, 1)'">Spiciness: {{food.spiciness}}</p>
                    </div>
                    <h6 (click)="goToDetails(food)">{{food.name}}</h6>
                    <div class="veg-nuts">
                        <p class="nuts"><i [style.color]="food.nuts ? '#59ff00' : 'red'" class="fa-solid fa-{{food.nuts ? 'circle-check' : 'circle-xmark'}}"></i> Nuts</p>
                        <p class="veg"><i [style.color]="food.vegeterian ? '#59ff00' : 'red'" class="fa-solid fa-{{food.vegeterian ? 'circle-check' : 'circle-xmark'}}"></i> Vegetarian</p>
                    </div>
                    <div class="action-buttons">
                        <button (click)="goToDetails(food)"><span>View Details</span> <i class="fa-solid fa-eye" style="color: #ffffff;"></i></button>
                        <button (click)="addToCart(food)"><span>Add to cart</span> <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></button>
                    </div>
                    <div class="Hidden cart-message" id="cart-message{{food?.id}}">
                        <p>Successfully added to cart.</p>
                        <i class="fa-solid fa-boxes-packing fa-fade"></i>
                    </div>
             </div>
            }
            @empty {
                <h1 style="align-self: center;">No products found!</h1>
            }
        </div>
    </section>
</section>