.small-commerical {
    background-image: url('/images/background.jpg');
    min-height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #AC1F28;
    animation: fromTop 1s;

    h2 {
        color: #ffffffa5;
        font-family: "Underdog", system-ui;
        font-size: 40px;
    }
}

.backgroundImageContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 30px;
}

.BIC {
    position: relative;
    width: 90%;
}

.backgroundImage {
    width: 100%;
    height: 650px;
    border-radius: 20px;
    border: 4px solid #820000;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 10px 50px rgba(157, 36, 38, 0.577), 0 1px 0 rgba(255, 255, 255, 0.02) inset;
}

.txt1 {
    position: absolute;
    top: 20%;
    left: 25%;
    color: #2c2929;
    font-family: Asian1;
    font-weight: bold;
    font-size: 100px;
    color: rgba(139, 0, 0, 0.791);
}

.categorys {
    background-image: url('/login.png');
    padding-inline: 70px;
    padding-bottom: 30px;
    border-top: 3px solid #820000;
    border-bottom: 3px solid #820000;
    box-shadow: 0 10px 50px rgba(157, 36, 38, 0.577), 0 1px 0 rgba(255, 255, 255, 0.02) inset;
    h3 {
        color: white;
        font-size: 30px;
        font-family: Asian3;
        text-align: center;
        margin: 30px 0 30px 0px;
        padding-top: 15px;
        animation: fromBack 1s;
    }

    .categories-list {
        font-size: 25px;
        color: #fff;
        font-family: "Underdog", system-ui;
        display: flex;
        justify-content: center;
        list-style: none;
        border-bottom: 2px solid #AC1F28;
        
        animation: fromBack 1s;
        gap: 10px;

        .tab {
            cursor: pointer;
            padding: 10px 10px;
            font-family: Asian1;
            &:hover {
                transition: 0.3s;
                background-color: #AC1F28;
                text-shadow: 0px 0px 15px #fff;
                border-top-right-radius: 12px;
                border-top-left-radius: 12px;
            }

        }
    }
}
.categories-list input[type="radio"]:checked + label {
    
        transition: 0.3s;
        background-color: #AC1F28;
        text-shadow: 0px 0px 15px #fff;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    
}
.filter-card {
    position: sticky;
    top: 120px;
    width: 250px;
    height: 370px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    font-family: "Reggae One", system-ui;
    font-weight: 700;
    letter-spacing: 1px;
    font-style: normal;
    border-radius: 6px;
    box-shadow: 0 0 5px 1px #B5221C;
    animation: fromLeft 1s;
    p {
        font-size: 20px;
        align-self: center;
        font-family: Asian2;
    }
    .choose-spicness {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 50px;
        label {
            font-family: Asian2;
            font-size: 16px;
            margin: 5px 0;
        }
        input {
            appearance: none;
            width: 200px;
            height: 8px;
            background: #B5221C;
            border-radius: 5px;
            outline: none;
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                background: #fff;
                border-radius: 50%;
                cursor: pointer;
                border: 2px solid #B5221C;
            }
        }
    }
    .checkbox-option {
        display: flex;
        align-items: center;
        gap: 5px;
        animation: fromBack 1s;
        input {
            appearance: none;
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid red;
            border-radius: 6px;
            margin-right: 8px;
            vertical-align: middle;
            position: relative;
            cursor: pointer;
            &:checked::after {
                content: '';
                position: absolute;
                left: 6px;
                top: 1px;
                width: 4px;
                height: 10px;
                border: solid red;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
        label {
            font-family: Asian2;
            cursor: pointer;
        }
    }
    .action-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        button {
        height: 40px;
        cursor: pointer;
        overflow: hidden;
        background-color: #B5221C;
        color: #fff;
        border: none;
        border-radius: 7px;
        font-weight: bold;
        font-family: Asian2;
        position: relative;
        font-size: 16px;
        &:hover {
            background-color: #fff;
            color: #B5221C;
            border: 2px solid #B5221C;
            transition: background-color 0.3s, color 0.3s, border 0.3s;
        }
    }
    }
    img {
        position: absolute;
        height: 75px;
        top: 50px;
        left: 90px;
    }
    h3 {
        position: absolute;
        left: 70px;
        top: 160px;
        font-size: 22px;
    }
}
.filter-products {
    margin-top: 50px;
    display: flex;

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        min-height: 60vh;
        width: 100%;

        .card {
            width: 250px;
            height: 370px;
            box-shadow: 0 0 10px 1px #B5221C;
            display: flex;
            flex-direction: column;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            background-color: #fff;
            gap: 15px;
            animation: fromBack 1s;

            .img-area {
                position: relative;
                width: 250px;
                height: 200px;
                background-color: #fff;
                background-color: #820000;

                span {
                    position: absolute;
                    right: 0;
                    top: 0;
                    background-color: goldenrod;
                    color: #fff;
                    font-family: "Reggae One", system-ui;
                    padding: 5px;
                    border-bottom-left-radius: 15px;
                }

                p {
                    position: absolute;
                    bottom: 0;
                    padding: 4px 8px;
                    border-top-right-radius: 10px;
                    color: #fff;
                    font-family: Asian2;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    cursor: pointer;

                    &:hover {
                        transition: 0.3s;
                        scale: 1.1;
                    }
                }
            }

            h6 {
                text-align: center;
                font-family: Asian1;
                font-size: 25px;
                cursor: pointer;
            }

            .veg-nuts {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                p {
                    font-family: Asian2;
                    color: #010101;
                    font-size: 17px;
                    font-weight: bold;
                }
            }

            .action-buttons {
                position: absolute;
                bottom: 20px;
                display: flex;
                justify-content: space-around;
                width: 100%;

                button {
                    padding: 12px 14px;
                    cursor: pointer;
                    overflow: hidden;
                    background-color: #B5221C;
                    color: #fff;
                    border: none;
                    border-radius: 7px;
                    font-weight: bold;
                    font-family: Asian2;
                    position: relative;
                    font-size: 14px;

                    i {
                        position: absolute;
                        right: 40%;
                        transform: translateY(50px);
                        font-size: 17px;
                    }

                    &:hover {
                        span {
                            transition: 0.3s;
                            opacity: 0;
                        }

                        i {
                            transition: 0.3s;
                            transform: translateY(0);
                            font-size: 19px;
                        }
                    }
                }
            }

            .cart-message {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 17px;
                font-family: Asian3;
                backdrop-filter: blur(10px) brightness(60%);
                p {
                    margin-top: 15px;
                    color: rgb(0, 255, 0);
                }

                i {
                    font-size: 50px;
                    color: rgb(0, 255, 0);
                    margin-top: 10px;
                }
            }
            .cart-message.Hidden {
                display: none;
            }
        }
    }
}

h1 {
    color: #fff;
}