<body>
    <div class="landing">
        <!-- Left food image -->
         
        <div class="side-img">
            <img src="fried_rice.png" alt="Signature Dish">
            <span>Thai Fried Rice</span>
        </div>

        <!-- Center text & CTA -->
        <div class="center">
            <h1>Wok & Roll</h1>
            <p>Freshly tossed, sizzling hot, and packed with bold Asian flavors.
                Wok & Roll brings the heat straight to your plate.</p>
            <button class="cta-btn" (click)="goToMenu()">Order Now</button>
        </div>

        <!-- Right food image -->
        <div class="side-img">
            <img src="laab_kai_chicken_salad.png" alt="Signature Dish">
            <span>Laab Kai Chicken Salad</span>
        </div>
    </div>
</body>
