<body>
<div class="sc_container">
    <h1 class="sc_title">Your Cart (<span id="cartItemCount">{{cartInfo.length}}</span> items)</h1>
    
    <table class="sc_cart_table"> 
        <thead>
            <tr>
                <th class="item-header">Item</th>
                <th class="price-header">Price</th>
                <th style="text-align: center;" class="reviews-header">Nuts</th>
                <th style="text-align: center;" class="reviews-header">Veg</th>
                <th style="text-align: center;" class="quantity-header">Quantity</th>
                <th class="total-header">Total</th>
            </tr>
        </thead>
        <tbody class="cart-card" id="sc_cart_table">
            @for (item of cartInfo; track $index) {
                <tr>
                    <td>
                        <div class="sc_product">
                            <div class="sc_product_image">
                                <img [src]="item.product.image" alt="" (error)="item.product.image = 'https://static.thenounproject.com/png/1554489-200.png'">
                            </div>
                            <div class="sc_product_details">
                                <h2>{{item.product.name}}</h2>
                                <div class="reviews-cart">
                                    <span>Veg:</span>
                                    <fa-icon [icon]="item?.product.vegeterian ? faCircleCheck : faCircleXmark" [style.color]="item?.product.vegeterian ? '#59ff00' : 'red'"></fa-icon> 
                                </div>
                                <div class="reviews-cart">
                                    <span>Nuts:</span>
                                    <fa-icon [icon]="item?.product.nuts ? faCircleCheck : faCircleXmark" [style.color]="item?.product.nuts ? '#59ff00' : 'red'"></fa-icon> 
                                </div>
                                <div class="sc_price_quantity">
                                    <span class="sc_price1">${{item.product.price}}</span>
                                    <div class="sc_quantity1">
                                        <button class="sc_quantity_btn" (click)="quantityDecrease(item)">-</button>
                                        <input type="text" [value]="item.quantity" min="1" id="quantityInput${data._id}1" class="sc_quantity_input">
                                        <button class="sc_quantity_btn" (click)="quantityIncrease(item)">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="sc_price2">${{item.product.price}}</td>
                    <td class="sc_reviews">
                       <fa-icon [icon]="item?.product.nuts ? faCircleCheck : faCircleXmark" [style.color]="item?.product.nuts ? '#59ff00' : 'red'"></fa-icon> 
                    </td>
                    <td class="sc_reviews">
                        <fa-icon [icon]="item?.product.vegeterian ? faCircleCheck : faCircleXmark" [style.color]="item?.product.vegeterian ? '#59ff00' : 'red'"></fa-icon> 
                     </td>
                    <td class="sc-quantity2-container">
                        <div class="sc_quantity2">
                            <button class="sc_quantity_btn" (click)="quantityDecrease(item)">-</button>
                            <input type="text" [value]="item.quantity" min="1" id="quantityInput${data._id}2" class="sc_quantity_input">
                            <button class="sc_quantity_btn" (click)="quantityIncrease(item)">+</button>
                        </div>
                    </td>
                    <td class="total-x">
                        <div class="sc_total" >${{item.quantity * item.price}}</div>
                        
                    </td>
                    <td><button class="sc_remove_btn" (click)="deleteItem(item.product.id, $index)">×</button></td>
                </tr>
            }
        </tbody>
        
    </table>
    
    <div class="sc_cart_totals">
        <div class="sc_totals_row sc_grand_total">
            <div class="sc_totals_label">Grand total:</div>
            <div class="sc_totals_value" id="totalAmount">${{total}}</div>
        </div>
    </div>
    
    <div class="sc_shipping_message">
        <div>
            Congrats, you're eligible for <span class="sc_free_shipping">Free Shipping</span>
        </div>
        <div class="sc_shipping_icon">🚚</div>
    </div>
    
    <div class="sc_checkout_progress">
        <div class="sc_progress_bar"></div>
    </div>
    
    <button class="sc_checkout_btn">Check out</button>
</div>
</body>
